<!-- <div class="score-board">
    <div class="badge" id="user-label">Player: {{userSelected}}</div>
    <div class="badge" id="comp-label">Comp: {{compSelected}}</div>
   
</div> -->


<div class="result">
    <p *ngIf="status">{{userSelected}} {{action}} {{compSelected}}{{status}} </p>
  </div>
  
  <div class="choices">
    <div class="choice" id="rock">
      <img src="../assets/Rocks.JPG" (click)='userPick("rock")'>
    </div>
    <div class="choice" id="paper">
      <img src="../assets/Paper.JPG" (click)='userPick("paper")'>
    </div>
    <div class="choice" id="scissors">
      <img src="../assets/Scissors.JPG" (click)='userPick("scissors")'>
    </div>
  </div>
  
  <p id="action-message" *ngIf="!status">Please Make Your Move </p>
  <p id="action-message" *ngIf="status">Wait...</p>