


<app-username></app-username>


  
  <div class="choices">
    <div class="choice" id="rock">
      <img src="../assets/Rock.JPG" (click)='userPick("Rock")'>
    </div>
    <div class="choice" id="paper">
      <img src="../assets/Paper.JPG" (click)='userPick("Paper")'>
    </div>
    <div class="choice" id="scissors">
      <img src="../assets/Scissors.JPG" (click)='userPick("Scissors")'>
    </div>
  </div>
  
  

  <div class="result">
    <p id="action-message">{{rockService.userName}} If You Dare, Please Make Your Move!</p> 
    <p id="action-message">Round:{{roundCounter}}/{{maxRounds}}</p>
  </div>