  *{
   
    margin: 1px;
    padding: 5px;
    box-sizing: border-box;
  }
  body{
    
    margin: 10px;
    background: rgb(80, 211, 235);
    background-image: url("/assets/rockAndScissor.png");
    background-size: 130px;
    
  }
  header{
    background: white;
    background-image: url("/assets/RPSmain.jpg");
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: fantasy;
    background-color: lemonchiffon;
    
    
  }
