#action-message{
    text-align: center;
    color: rgb(42, 255, 191);
    font-weight: bold;
    font-size: 30px;
    margin: 50px 0;
  }

.PlayAgain{
    border-block-end-style: groove;
    display: inline inline-block;
    background-color: aqua;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    text-align: center;
    color: rgb(228, 25, 126);
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin-top: 20px;
    
  }

  .menu_links {
    cursor: pointer;
}