
<div class="score-board">
 
        <h1>LEADER BOARD!</h1>

        <div class="headings"> 

            <div *ngFor="let lb of scoreboard.Leaderboard">
            <table>
                <div><h1>User Name</h1></div>
                <td class="headings">{{lb.username}}</td>
                <div><h2>Win Ratio</h2> </div>
                <td class="headings">{{lb.winRatio}}</td>
                <div> <h3>Turns Played</h3></div>
                <td class="headings">{{lb.turnPlayed}}</td>


            </table>
               -->

         
        </div>

            <div id="highscore-message"> 
    
            </div>
    
        </div>
    
  

   
</div>











<div id="action-message">
    <button class="PlayAgain" routerLink="choice">
        <h1 class="menu_links"> Play Again..</h1>
    </button>
</div>